.Table-container {
	overflow-x: auto; /* Needed for table to be responsive */
	text-align: center;
}

.Table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.Table-head {
	background-color: #0c2033;
}

.Table-head tr th {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding: 10px 20px;
	font-size: x-large;
	color: darkgray;
}

.Table-body {
	background-color: #13547f;
	border: 3px solid black;
}

.Table-body tr td {
	padding: 12px 10px;
	border: 2px solid midnightblue;
	color: #fff;
}

.Detail-coin {
	text-align: center;
	background-color: wheat;
	padding: 2px;
}

.Click-able {
	cursor: pointer;
}

.Arrow-up {
	color: lawngreen;
}

.Arrow-down {
	color: red;
}

.Row-header-coin, .Symbol {
	font-size: x-large;
	color: #d01386 !important;
	text-align: center;
}
.FullName {
	font-size: xx-large;
}

.SnapShot {
	font-size: large;
	color: #003301;
}

.left {
	float: left;
}

.right {
	float: right;
}

.NaviBox-element {
	width: 160px;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: 2em;
	margin-top: 1em;
	padding: 2px;
}