.StartButton {
	font-size: large;
	text-align: center;
	color: #FFFFFF;
	background-color: #d01386;
	border-radius: 12px;
	padding: .1em .75em;
	box-shadow: 0 0 0 0 rgba(230, 60, 55, 0.8);
	animation: pulse 2s infinite cubic-bezier(0.8, 0, 0, 1);
}

@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(230, 60, 55, 0);}}

.StartButton:hover,
.StartButton:focus,
.StartButton:active,
.StartButton.active,
.open .dropdown-toggle.StartButton {
	color: #FFFFFF;
	background-color: #48247A;
}

.StartButton.disabled,
.StartButton[disabled],
fieldset[disabled] .StartButton,
.StartButton.disabled:hover,
.StartButton[disabled]:hover,
fieldset[disabled] .StartButton:hover,
.StartButton.disabled:focus,
.StartButton[disabled]:focus,
fieldset[disabled] .StartButton:focus,
.StartButton.disabled:active,
.StartButton[disabled]:active,
fieldset[disabled] .StartButton:active,
.StartButton.disabled.active,
.StartButton[disabled].active,
fieldset[disabled] .StartButton.active {
	background-color: #7327D0;
	border-color: #100060;
}

.StartButton-container {
	text-align: center;
	background-color: #1e8618;
	padding: 10px;
}
