body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: purple;
}

.draggable {
	background-color: black;
}

.App-logo {
	animation: App-logo-spin infinite 900ms linear !important;
	height: 80px;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(60deg); }
}

.App-header {
	text-align: center;
	background-color: #230;
	padding: 10px;
	color: white;
}

.App-title {
	font-size: 2.5em;
	padding: 5px;
	margin: 10px;
}

.App-intro {
	font-size: large;
}

.About-body {
	background-color: #bad4eb;
	padding-top: 10px;
}

.About-title {
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #babade;
}

.About-contents {
	text-align: center;
	padding: 10px;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 8px;
}

.About-contents-box {
	background-color: #ebb280;
	border-radius: 5px;
	padding: 10px;
}

.About-contents-box h3 {
	margin-top: 8px;
}

li {
	list-style: none;
	text-align: center;
	padding: 2px;
}

article h2 {
	text-align: center;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #babade;
}

article h3 {
	text-align: center;
}

article p {
	margin-left: 35px;
	margin-right: 30px;
}

article p li {
	list-style: outside;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}

article {
	padding-bottom: 1em;
}

.Loading {
	padding: 1em;
	margin: 1em;
	background-color: white;
	text-align: center;
	border: 8px solid mediumpurple;
}

.Table {
	overflow-x: auto; /* Needed for table to be responsive */
	width: 100%;
}

.Table-head th {
	text-align: center;
}

.Table-head {
	background-color: #0c2033;
	text-align: center;
	padding: 10px;
	color: darkgray;
	font-size: small;
}

.Table-body {
	background-color: #13547f;
}

.Table-body tr td {
	padding: 12px 10px;
	border: 2px solid midnightblue;
	color: #fff;
}

.Detail-coin {
	text-align: center;
	background-color: wheat;
	padding: 2px;
}

.Click-able {
	cursor: pointer;
}

.Arrow-up {
	color: lawngreen;
}

.Arrow-down {
	color: red;
}

.Row-header-coin, .Symbol {
	font-size: xx-large;
	color: deeppink !important;
	text-align: center;
	padding: 20px;
}

.Symbol {
	font-size: large !important;
	padding-top: .25em;
}

.Header-subtitle {
	font-size: medium !important;
	color: hotpink;
}

.FullName {
	font-size: xx-large;
	margin-top: 20px;
}

.Date {
	font-family: monospace;
	font-size: large;
	margin-top: 10px;
	margin-bottom: 10px;
}

.SnapShot {
	font-size: large;
	color: #003301;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 15px;
}

#r {
	text-align: right;
	width: 50%;
}

.NaviBox-element {
	padding: 3px;
}

.NaviBox-form {
	padding: 10px;
	text-align: center;
}

.SymbolIcon {
	padding: .5em;
}

.snapNavButton {
	font-size: xx-large;
	background-color: gainsboro;
	padding: 0;
	width: 42px;
	height: 42px;
	border-width: 0;
	font-weight: bolder;
}

.react-date-picker__wrapper {
	width: 140px;
	background-color: honeydew;
	padding-left: 2px;
	border-radius: 4px;
}

.react-date-picker__inputGroup {
	justify-content: space-around;
}

.dateNav {
	background-color: gainsboro;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}
